
a {
  cursor: pointer;
}

html,
body {
  background: white;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

div.topics h1{
  background: rgb(241, 243, 245);
}

div.topics h3{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

.bar {
  height: 100px;
  width: 60px;
  background: white;
  opacity:0.5;
}

.bar *{
  font-size: 14px;
}

div.sources {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  background: rgb(241, 243, 245);
  width: 100%;
  position: fixed;
  bottom: 0;
}

div.sources * {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  display: inline-block;
}